@page "/account/forgotPassword"

@using System.ComponentModel.DataAnnotations
@using System.Text
@using System.Text.Encodings.Web
@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.WebUtilities
@using UNTCCSS.Components.Account
@using UNTCCSS.Data

@inject UserManager<ApplicationUser> UserManager
@inject NavigationManager NavigationManager
@inject IdentityRedirectManager RedirectManager

<PageTitle>¿Olvidaste tu contraseña?</PageTitle>


<div class="content d-flex justify-content-center align-items-center vh-100">

    <div style="width: 350px;">
        <!--Mensaje de alerta-->
        @if (!string.IsNullOrEmpty(errorMessage))
        {
            <div class="alert alert-danger roboto-bold">
                @errorMessage
            </div>
        }

        <div class="card text-center shadow mt-2" style="border: 1px solid #D8D8D8">
            <div class="card-header h5 text-white bg-primary">Restablecer Contraseña</div>
            <div class="card-body px-3 roboto-regular">
                <p class="card-text" style="text-align: justify;">
                    Ingresa tu dirección de correo electrónico y te enviaremos un correo electrónico con las instrucciones detalladas para restablecer tu contraseña de manera segura.
                </p>
                <EditForm Model="Input" FormName="forgot-password" OnValidSubmit="OnValidSubmitAsync" method="post">
                    <DataAnnotationsValidator />

                    <div class="form-floating mb-3">
                        <InputText @bind-Value="Input.Email" id="Input.Email" class="form-control" aria-required="true" placeholder="name@example.com" />
                        <label for="Input.Email">Email</label>
                        <ValidationMessage For="() => Input.Email" class="text-danger text-start roboto-bold" />
                    </div>
                    <button type="submit" class="btn btn-primary w-100">Restablecer Contraseña</button>
                </EditForm>
                <div class="d-flex justify-content-between mt-4 mx-2">
                    <a class="small text-decoration-none" href="/account/login">Iniciar Sesión</a>
                    <a class="small text-decoration-none" href="#">Registrarse</a>
                </div>
            </div>
        </div>
    </div>
</div>

@code {
    
}
