@page "/account/register"
@layout AdminPanel
@using System.ComponentModel.DataAnnotations
@using System.Text
@using System.Text.Encodings.Web
@using UNTCCSS.Components.Layout
@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.WebUtilities
@using UNTCCSS.Components.Account
@using UNTCCSS.Components.Messege
@using UNTCCSS.Data

@inject UserManager<ApplicationUser> UserManager
@inject IUserStore<ApplicationUser> UserStore
@inject SignInManager<ApplicationUser> SignInManager
@inject IEmailSender<ApplicationUser> EmailSender
@inject NavigationManager NavigationManager
@inject IdentityRedirectManager RedirectManager

<PageTitle>Register</PageTitle>

<h1>Register</h1>

<div class="row">
    <div class="col-lg-6">
        <StatusMessage Message="@Message" />
        <EditForm Model="Input" asp-route-returnUrl="@ReturnUrl" method="post" OnValidSubmit="RegisterUser" FormName="register">
            @* <DataAnnotationsValidator /> *@
            <h3>Crear una nueva cuenta.</h3>
            <hr />
            <ValidationSummary class="text-danger" role="alert" />

            <div class="form-floating mb-3">
                <InputText @bind-value="Input.Dni" id="InputDni" class="form-control" aria-required="true" placeholder=""/>
                <label for="InputDni">DNI</label>
                <ValidationMessage For="() => Input.Dni" class="text-danger" />
            </div>
            <div class="form-floating mb-3">
                <InputText type="text" @bind-Value="Input.Nombres" id="Input.Nombres" class="form-control" aria-required="true" placeholder="" />
                <label for="Input.Nombres">Nombres</label>
                <ValidationMessage For="() => Input.Nombres" class="text-danger" />
            </div>
            <div class="form-floating mb-3">
                <InputText type="text" @bind-Value="Input.Apellidos" id="Input.Apellidos" class="form-control" aria-required="true" placeholder="Paterno Materno" />
                <label for="Input.Apellidos">Apellidos</label>
                <ValidationMessage For="() => Input.Apellidos" class="text-danger" />
            </div>
            <div class="form-floating mb-3">
                <InputNumber @bind-Value="Input.Telefono" id="Input.Telefono" class="form-control" aria-required="true" placeholder="945345765"/>
                <label for="Input.Telefono">Telefono</label>
                <ValidationMessage For="() => Input.Telefono" class="text-danger" />
            </div>
            <div class="form-floating mb-3">
                <InputText @bind-Value="Input.Email" id="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com" />
                <label for="Input.Email">Email</label>
                <ValidationMessage For="() => Input.Email" class="text-danger" />
            </div>
            <div class="form-floating mb-3">
                <InputText type="password" @bind-Value="Input.Password" id="Input.Password" class="form-control" autocomplete="new-password" aria-required="true" placeholder="**********" />
                <label for="Input.Password">Password</label>
                <ValidationMessage For="() => Input.Password" class="text-danger" />
            </div>
            <div class="form-floating mb-3">
                <InputText type="password" @bind-Value="Input.ConfirmPassword" id="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" placeholder="**********" />
                <label for="Input.ConfirmPassword">Confirm Password</label>
                <ValidationMessage For="() => Input.ConfirmPassword" class="text-danger" />
            </div>
            <div class="form-floating mb-3">
                <InputText type="text" @bind-Value="Input.Direccion" id="Input.Direccion" class="form-control" aria-required="true" placeholder="" />
                <label for="Input.Direccion">Direccion</label>
                <ValidationMessage For="() => Input.Direccion" class="text-danger" />
            </div>
            <button type="submit" class="w-100 btn btn-lg btn-primary">Register</button>
        </EditForm>
    </div>
    <div class="col-lg-4 col-lg-offset-2">
        <section>
            <h3>Use another service to register.</h3>
            <hr />
            <ExternalLoginPicker />
        </section>
    </div>
</div>

<script src="js/validacion.js"></script>

@code {
    
}
